html{
    font-size: 10px;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*----- START OF HEADER -------------------------------------*/


.header-top{
    width: 100%;
    height: 5vh;
    background: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contact-box{
    width: 50%;
    margin-left: 5rem;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.header-contact-box a{
    font-size: 1.8rem;
    color: #2c3e50;
    line-height: 4vh;
    margin: 0 2rem 0 0;
    padding: 0 2rem 0 0;
    border-right: 1px solid #2c3e50;
}
.header-contact-box p{
    font-size: 1.8rem;
    color: #2c3e50;
    line-height: 4vh;
}
.social{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social a{
    margin-right: 5rem;
    text-decoration: none;
}
.social .fab{
    font-size: 2.5rem;
    color: #2c3e50;
    padding: 0 .5rem;
    line-height: 4vh;
    transition: .5s;
}
.social .fab:hover{
    transform: scale(1.1);
}
.header-bottom{
    width: 100%;
    height: 20vh;
    background: #1e272e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 20vh;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.menu-tab{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav{
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuBtn{
    display: none;
}
nav ul{
    max-width: 60rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: .5px solid #ecf0f1;
    border-bottom: .5px solid #ecf0f1;
    border-radius: 1rem;
}
nav ul li{
    margin: 0 5rem;
    list-style: none;
    display: inline-block;
    position: relative;
}
nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: .5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ecf0f1;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
nav ul li .fas{
    padding-right: 1rem;
    font-size: 2rem;
}
nav ul li a:hover{
    color: #bdc3c7;
}
@media all and (max-width: 1100px){
    .header-top,
    nav ul li .fas{
        display: none;
    }
    .header-bottom{
        position: fixed;
        background: #1e272e;
        z-index: 9999;
        flex-direction: column;
    }
    .logo{
        width: 100%;
        position: absolute;
    }
    .logo img{
        padding: 1rem;
        height: 18vh;
    }
    .menu-tab{
        width: 100%;
        margin-top: auto;
        padding: 0 .5rem;
    }
    nav{
        width: 100%;
        height: 100%;
    }
    .menuBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 5.5rem;
        margin-left: auto;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .burger{
        width: 3rem;
        height: 3px;
        background: #ecf0f1;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(#2980b9, .3);
        transition: all .5s ease-in-out;
    }
    .burger::before,
    .burger::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background: #ecf0f1;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(#2980b9, .3);
        transition: all .5s ease-in-out;
    }
    .burger::before{
        transform: translateY(-8px);
    }
    .burger::after{
        transform: translateY(8px);
    }
    .menuBtn.open .burger{
        transform: translateX(-30px);
        background: transparent;
        box-shadow: none;
    }
    .menuBtn.open .burger::before{
        transform: rotate(45deg) translate(21px , -21px);
    }
    .menuBtn.open .burger::after{
        transform: rotate(-45deg) translate(21px, 21px);
    }
    .menu-tab nav ul{
        min-width: 100%;
        height: 45vh;
        top: 20vh;
        left: 0;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #2c3e50;
        border-radius: 0 0 1rem 1rem;
    }
    .menu-tab nav ul li{
        margin: 5vh 0;
    }
    .menu-tab nav ul li a{
        font-size: 1.8rem;
        letter-spacing: .2rem;
        text-shadow: 1px 1px 2px #bdc3c7;
    }
}

/*----- END OF HEADER -------------------------------------*/



/*----- START OF BRIEF CONTACT SECTION -------------------------------*/


#contact-section{
    width: 100%;
    height: auto;
    margin: 10rem 0;
    position: relative;
}
.contact-wrapper{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.contact-row-left{
    width: 50%;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
iframe{
    width: 80%;
    margin-top: 3rem;
}
.contact-title{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
}
.contact-title h1{
    font-size: 3rem;
    color: #2c3e50;
}
.contact-title p{
    font-size: 2.5rem;
    color: #2c3e50;
    margin: 2rem 0;
}
.contact-title a{
    font-size: 2rem;
    font-style: italic;
    color: #2c3e50;
}
.contact-row-right{
    width: 50%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.iconInput{
    width: 100%;
    position: relative;
    margin: 1rem;
}
.iconInput input{
    width: 100%;
    height: 4rem;
    padding: 0 0 0 6rem;
    border: 1px solid #2c3e50;
    border-radius: .5rem;
    outline: none;
    font-size: 1.8rem;
    color: #2c3e50;
    font-weight: bold;
}
.iconInput i{
    position: absolute;
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    background: #2c3e50;
    color: #ecf0f1;
    border-radius: .5rem 0 0 .5rem;
}
.iconInput input:focus,
.contact-form textarea:focus{
    border-color: #2980b9;
    box-shadow: 0 0 6px #2980b9;
}
::-webkit-input-placeholder,
::-webkit-textarea-placeholder{
    font-size: 1.4rem;
    font-weight: initial;
}
.contact-form textarea{
    width: 100%;
    margin: 3rem 0 1rem;
    padding: .5rem 1rem;
    border: 1px solid #2c3e50;
    border-radius: .5rem;
    outline: none;
    resize: none;
    font-size: 2rem;
    color: #2c3e50;
    font-weight: bold;
}
.contact-form button{
    width: 20%;
    height: 3rem;
    margin: 1rem 0 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1;
    border-radius: .5rem;
    background: #2c3e50;
    outline: none;
    cursor: pointer;
}
.home-box{
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: 2%;
    top: -15%;
    background: rgba(44, 62, 80, 0.6);
    box-shadow: 1px 1px 4px #2c3e50, -1px -1px 4px #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-box:hover{
    box-shadow: 1px 1px 4px #2980b9, -1px -1px 4px #2980b9;
    border-radius: .5rem;
}
.home-box .fas{
    font-size: 5rem;
    color: #ecf0f1;
}

@media all and (max-width: 350px){
    #contact-section{
        margin: 5rem 0;
    }
    .contact-wrapper{
        width: 100%;
        flex-direction: column;
    }
    .contact-row-left{
        width: 100%;
        flex-direction: column;
    }
    iframe{
        width: 100%;
    }
    .contact-title{
        width: 100%;
        margin: 5rem;
    }
    .contact-title h1{
        font-size: 2.5rem;
    }
    .contact-title p{
        font-size: 2rem;
    }
    .contact-title a{
        font-size: 1.5rem;
    }
    .contact-row-right{
        width: 100%;
    }
    .contact-form{
        width: 90%;
    }
    .iconInput input{
        font-size: 1.5rem;
    }
    .contact-form textarea{
        font-size: 1.5rem;
    }
    .contact-form button{
        font-size: 1.3rem;
    }
    .home-box{
        display: none;
    }
}
@media all and (min-width: 350px){
    #contact-section{
        margin: 5rem 0;
    }
    .contact-wrapper{
        width: 100%;
        flex-direction: column;
    }
    .contact-row-left{
        width: 100%;
        flex-direction: column;
    }
    iframe{
        width: 100%;
    }
    .contact-title{
        width: 100%;
        margin: 5rem;
    }
    .contact-title h1{
        font-size: 2.5rem;
    }
    .contact-title p{
        font-size: 2rem;
    }
    .contact-title a{
        font-size: 1.5rem;
    }
    .contact-row-right{
        width: 100%;
    }
    .contact-row-right{
        width: 100%;
    }
    .contact-form{
        width: 90%;
        max-width: 40rem;
    }
    .iconInput input{
        font-size: 1.5rem;
    }
    .contact-form textarea{
        font-size: 1.5rem;
    }
    .contact-form button{
        font-size: 1.3rem;
    }
    .home-box{
        display: none;
    }
}
@media all and (min-width: 700px){
    .contact-row-left{
        width: 95%;
        flex-direction: row-reverse;
        margin-bottom: 5rem;
    }
    iframe{
        width: 50%;
        padding: 1rem;
        margin-top: 0;
    }
    .contact-title{
        width: 50%;
    }
    .contact-title h1{
        font-size: 3rem;
    }
    .contact-row-right{
        width: 80%;
    }
    .contact-form{
        width: 65%;
        max-width: 50rem;
    }
}
@media all and (min-width: 1200px){
    #contact-section{
        width: 100%;
        height: auto;
        margin: 10rem 0;
        position: relative;
    }
    .contact-wrapper{
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .contact-row-left{
        width: 50%;
        height: auto;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    iframe{
        width: 80%;
        margin-top: 3rem;
    }
    .contact-title{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 1rem;
    }
    .contact-title h1{
        font-size: 3rem;
        color: #2c3e50;
    }
    .contact-title p{
        font-size: 2.5rem;
        color: #2c3e50;
        margin: 2rem 0;
    }
    .contact-title a{
        font-size: 2rem;
        font-style: italic;
        color: #2c3e50;
    }
    .contact-row-right{
        width: 50%;
        margin: 0 auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-form{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .iconInput{
        width: 100%;
        position: relative;
        margin: 1rem;
    }
    .iconInput input{
        width: 100%;
        height: 4rem;
        padding: 0 0 0 6rem;
        border: 1px solid #2c3e50;
        border-radius: .5rem;
        outline: none;
        font-size: 1.8rem;
        color: #2c3e50;
        font-weight: bold;
    }
    .iconInput i{
        position: absolute;
        width: 5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-size: 1.5rem;
        background: #2c3e50;
        color: #ecf0f1;
        border-radius: 5px 0 0 5px;
    }
    .iconInput input:focus,
    .contact-form textarea:focus{
        border-color: #2980b9;
        box-shadow: 0 0 6px #2980b9;
    }
    ::-webkit-input-placeholder,
    ::-webkit-textarea-placeholder{
        font-size: 1.4rem;
        font-weight: initial;
    }
    .contact-form textarea{
        width: 100%;
        margin: 3rem 0 1rem;
        padding: .5rem 1rem;
        border: 1px solid #2c3e50;
        border-radius: .5rem;
        outline: none;
        resize: none;
        font-size: 2rem;
        color: #2c3e50;
        font-weight: bold;
    }
    .contact-form button{
        width: 20%;
        height: 3rem;
        margin: 1rem 0 0 auto;
        font-size: 1.5rem;
        font-weight: bold;
        color: #ecf0f1;
        border-radius: .5rem;
        background: #2c3e50;
        outline: none;
        cursor: pointer;
    }
    .home-box{
        width: 6rem;
        height: 6rem;
        position: absolute;
        right: 2%;
        top: -15%;
        background: rgba(44, 62, 80, 0.6);
        box-shadow: 1px 1px 4px #2c3e50, -1px -1px 4px #2c3e50;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-box:hover{
        box-shadow: 1px 1px 4px #2980b9, -1px -1px 4px #2980b9;
        border-radius: .5rem;
    }
    .home-box .fas{
        font-size: 5rem;
        color: #ecf0f1;
    }
}


/*----- END OF BRIEF CONTACT SECTION -------------------------------*/


/*----- START OF FOOTER SECTION -------------------------------*/


#footer-section{
    width: 100%;
    height: 5vh;
    background: #1e272e;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-section p{
    font-size: 1.4rem;
    color: #ecf0f1;
}

@media all and (max-width: 350px){
    #footer-section{
        height: 10vh;
    }
    #footer-section p{
        font-size: 1.1rem;
        text-align: center;
    }
}
@media all and (min-width: 350px){
    #footer-section{
        height: 10vh;
    }
    #footer-section p{
        font-size: 1.1rem;
        text-align: center;
    }
}
@media all and (min-width: 700px){
    #footer-section{
        height: 5vh;
    }
    #footer-section p{
        font-size: 1.3rem;
    }
}



/*----- END OF FOOTER SECTION -------------------------------*/